//fonts start

/* forum-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Forum';
  font-style: normal;
  font-weight: 400;
  src: url('../../src/fonts/forum-v18-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap; 
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('../../src/fonts/inter-v13-latin-regular.woff2') format('woff2'); 
}
/* inter-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  src: url('../../src/fonts/inter-v13-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
//fonts end

html {
  font-size: 10px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.title {
  margin: 0 0 18px 0;
  text-align: center;
  font-size: 4.0rem;
  font-family: 'Forum', sans-serif;
  font-weight: 400;
  color: #0C0C0E;
}

.line {
  width: 5.0rem;
  height: 1px;
  margin: auto;
  background-color: #0C0C0E;
}

.text {
  margin: 0;
}
