@import "./normalize.css";
/* forum-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Forum";
  font-style: normal;
  font-weight: 400;
  src: url("../../src/fonts/forum-v18-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../../src/fonts/inter-v13-latin-regular.woff2") format("woff2");
}
/* inter-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../../src/fonts/inter-v13-latin-900.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-size: 10px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.title {
  margin: 0 0 18px 0;
  text-align: center;
  font-size: 4rem;
  font-family: "Forum", sans-serif;
  font-weight: 400;
  color: #0C0C0E;
  letter-spacing: 0.9px;
}
@media (max-width: 768px) {
  .title {
    margin: 0 0 17px 2%;
  }
}

.line {
  width: 5rem;
  height: 1px;
  margin: auto;
  background-color: #0C0C0E;
}
@media (max-width: 768px) {
  .line {
    margin-left: 47.7%;
  }
}
@media (max-width: 321px) {
  .line {
    display: none;
  }
}

.text {
  margin: 0;
}

.header {
  padding: 20px 35px 5px 30px;
  background-color: #0C0C0E;
}
@media (max-width: 1404px) {
  .header {
    padding: 20px 25px 5px 25px;
  }
}
@media (max-width: 990px) {
  .header {
    padding: 20px 35px 5px 35px;
  }
}
@media (max-width: 768px) {
  .header {
    padding: 20px 20px 5px 20px;
  }
}

.header__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header__title {
  margin: 0;
  color: #FFFFFF;
  font-family: "Forum", sans-serif;
  font-weight: 400;
  font-size: 3rem;
  line-height: 5rem;
  letter-spacing: 0.8px;
}
@media (max-width: 360px) {
  .header__title {
    font-size: 2.5rem;
  }
}
@media (max-width: 321px) {
  .header__title {
    font-size: 2rem;
    line-height: 4rem;
  }
}
@media (max-width: 375px) {
  .header__title {
    line-height: 3rem;
  }
}

.header__icon {
  position: relative;
  width: 28px;
  height: 28px;
  background-image: url("../../src/img/header/icon_profile.svg");
  background-size: 28px 28px;
  align-self: center;
  color: #BB945F;
  font-size: 2.3rem;
  text-transform: uppercase;
  cursor: pointer;
}
@media (max-width: 990px) {
  .header__icon {
    position: relative;
    margin-right: 11%;
  }
}
@media (max-width: 412px) {
  .header__icon {
    margin-right: 8%;
  }
}
@media (max-width: 375px) {
  .header__icon {
    margin-right: 12%;
    width: 45px;
    height: 45px;
    background-size: 31px 31px;
    background-repeat: no-repeat;
  }
}

.header__icon__activeProf {
  background-image: none;
}

.wrapper {
  max-width: 1400px;
  margin: auto;
}

.footer {
  padding: 18px 0 60px 0;
  background-color: #0C0C0E;
}
@media (max-width: 1404px) {
  .footer {
    padding: 18px 35px 60px 35px;
  }
}
@media (max-width: 768px) {
  .footer {
    padding: 18px 25px 60px 25px;
  }
}
@media (max-width: 477px) {
  .footer {
    padding: 18px 25px 30px 25px;
  }
}

.footer__contact {
  display: flex;
  margin-bottom: 17px;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 360px) {
  .footer__contact {
    flex-direction: column;
    gap: 20px 0;
  }
}

.footer__text {
  width: 229px;
  display: block;
  margin-bottom: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #FFFFFF;
}
@media (max-width: 360px) {
  .footer__text {
    font-size: 2rem;
  }
}

.footer__media {
  display: flex;
  flex-direction: row;
  gap: 0 15px;
}

.footer__days {
  margin-bottom: 10px;
  text-align: right;
}

.footer__schedule {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #FFFFFF;
}
@media (max-width: 360px) {
  .footer__schedule {
    font-size: 2rem;
    line-height: 3rem;
  }
}

.footer__line {
  width: 100%;
  margin-bottom: 48px;
  border: 1px solid #FFFFFF;
}

.footer__school {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 477px) {
  .footer__school {
    flex-direction: column;
    gap: 20px 0px;
  }
}

.footer__inf {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2rem;
  letter-spacing: 2px;
  color: #FFFFFF;
  transition: all 0.4s ease-in-out;
}
@media (max-width: 477px) {
  .footer__inf {
    font-size: 2rem;
  }
}

.footer__inf:hover {
  transform: scale(1.2);
}
@media (max-width: 768px) {
  .footer__inf:hover {
    transform: scale(1);
  }
}

.burger {
  display: none;
  position: relative;
  width: 45px;
  height: 20px;
  margin: 40px 0px 0px 30px;
  cursor: pointer;
}
@media (max-width: 990px) {
  .burger {
    position: absolute;
    display: block;
    margin: 15px 0px 0px 88%;
  }
}
@media (max-width: 520px) {
  .burger {
    margin: 15px 0px 0px 84%;
  }
}
@media (max-width: 412px) {
  .burger {
    width: 25px;
    margin: 40px 0px 0px 85%;
  }
}
@media (max-width: 375px) {
  .burger {
    width: 35px;
    margin: 15px 0px 0px 80%;
  }
}

.burger__line {
  left: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #FFFFFF;
  transition: 0.3s all linear;
}

.burger__line_first {
  top: 0;
}

.burger__line_second {
  top: 50%;
}

.burger__line_third {
  bottom: 0;
}

.burger_active .burger__line_second {
  opacity: 0;
}

.burger_active .burger__line_first {
  transform: translateY(440%) rotate(45deg);
}
@media (max-width: 412px) {
  .burger_active .burger__line_first {
    transform: translateY(550%) rotate(45deg);
  }
}

.burger_active .burger__line_third {
  transform: translateY(-350%) rotate(-45deg);
}

.header__navigation {
  padding-left: 31%;
}
@media (max-width: 1465px) {
  .header__navigation {
    padding-left: 20%;
  }
}
@media (max-width: 1404px) {
  .header__navigation {
    padding-left: 10%;
  }
}
@media (max-width: 990px) {
  .header__navigation {
    position: absolute;
    width: 300px;
    margin: -12px 0px 0px 57%;
    padding: 60px 40px;
    background-color: #000000;
    transform: translateX(120%);
    transition: all 0.5s ease-in-out;
  }
}
@media (max-width: 690px) {
  .header__navigation {
    margin: -16px 0px 0px 45%;
  }
}
@media (max-width: 520px) {
  .header__navigation {
    width: 200px;
    margin: -16px 0px 0px 41%;
  }
}
@media (max-width: 412px) {
  .header__navigation {
    padding: 90px 10px;
    margin: -16px 0px 0px 40%;
  }
}
@media (max-width: 360px) {
  .header__navigation {
    padding: 90px 10px 8px 10px;
    margin: -16px 0px 0px 25%;
  }
}
@media (max-width: 321px) {
  .header__navigation {
    padding: 90px 10px 0px 10px;
  }
}

.header__navigation_active {
  transform: translateX(0%);
}

.header__itemns {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 990px) {
  .header__itemns {
    flex-direction: column;
    text-align: center;
    gap: 30px 0px;
  }
}

.header__itemn {
  margin-right: 34px;
  cursor: pointer;
}

.header__itemn:last-child {
  margin-left: 0;
}

.header__link {
  font-family: "Inter";
  font-weight: 400;
  font-size: 2rem;
  line-height: 5rem;
  color: #FFFFFF;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 990px) {
  .header__link {
    font-size: 2.5rem;
  }
}

.header__link:hover {
  color: #BB945F;
}
@media (max-width: 768px) {
  .header__link:hover {
    color: #FFFFFF;
  }
}

.welcome {
  padding: 15.5% 0 10.6%;
  background-image: url("../../src/img/welcome/Welcome.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
@media (max-width: 768px) {
  .welcome {
    padding: 31% 0 22%;
  }
}

.welcome__desc {
  max-width: 600px;
  padding: 35px 19px;
  background-color: #0C0C0E;
}

.welcome__text {
  width: 370px;
  margin: 0 0 0 23%;
  text-align: center;
  font-size: 4rem;
  font-family: "Forum", sans-serif;
  font-weight: 400;
  line-height: 5rem;
  color: #FFFFFF;
  letter-spacing: 3.5px;
  text-transform: uppercase;
  overflow-wrap: break-word;
}
@media (max-width: 768px) {
  .welcome__text {
    margin: 0 0 0 15.5%;
  }
}
@media (max-width: 477px) {
  .welcome__text {
    margin: auto;
  }
}
@media (max-width: 412px) {
  .welcome__text {
    font-size: 3rem;
  }
}
@media (max-width: 375px) {
  .welcome__text {
    width: 320px;
    font-size: 3rem;
  }
}
@media (max-width: 321px) {
  .welcome__text {
    margin-left: -22px;
    font-size: 2.5rem;
  }
}

.about {
  padding: 15px 0px 15px 0px;
}
@media (max-width: 412px) {
  .about {
    padding: 15px;
  }
}

.about__text {
  padding: 40px 0 20px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 4rem;
}
@media (max-width: 768px) {
  .about__text {
    padding: 40px 38px 20px;
  }
}
@media (max-width: 321px) {
  .about__text {
    padding: 40px 10px 20px;
  }
}

.about__slaiders {
  position: relative;
  margin-bottom: 37px;
  overflow: hidden;
}
@media (max-width: 990px) {
  .about__slaiders {
    width: 450px;
    margin-left: 27%;
  }
}
@media (max-width: 768px) {
  .about__slaiders {
    margin-left: 21%;
    margin-bottom: 22px;
  }
}
@media (max-width: 477px) {
  .about__slaiders {
    margin: auto;
  }
}

.slaiders {
  display: flex;
  flex-direction: row;
  gap: 0 25px;
  transition: transform 0.5s ease-in-out;
}

@media (max-width: 412px) {
  .about__img {
    width: 360px;
  }
}
@media (max-width: 375px) {
  .about__img {
    width: 320px;
  }
}
@media (max-width: 321px) {
  .about__img {
    width: 280px;
  }
}

.about__paginations {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0 10px;
  cursor: pointer;
}
@media (max-width: 768px) {
  .about__paginations {
    margin-left: 17px;
  }
}
@media (max-width: 477px) {
  .about__paginations {
    padding: 20px 0px 0px 0px;
  }
}

.about__btn {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #0C0C0E;
  cursor: pointer;
}

.about__activ {
  background-color: #BB945F;
  cursor: default;
}

.about__btn_media {
  display: none;
}
@media (max-width: 768px) {
  .about__btn_media {
    display: block;
  }
}

.prev-button, .nex-button {
  display: none;
  position: absolute;
}
@media (max-width: 768px) {
  .prev-button, .nex-button {
    display: block;
    top: 189%;
    font-size: 24px;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    font-size: 34px;
    cursor: pointer;
  }
}
@media (max-width: 690px) {
  .prev-button, .nex-button {
    top: 175%;
  }
}
@media (max-width: 412px) {
  .prev-button, .nex-button {
    top: 165%;
    color: white;
    font-weight: 500;
  }
}
@media (max-width: 360px) {
  .prev-button, .nex-button {
    top: 150%;
  }
}
@media (max-width: 321px) {
  .prev-button, .nex-button {
    top: 148%;
  }
}

@media (max-width: 768px) {
  .prev {
    left: 9%;
  }
}
@media (max-width: 412px) {
  .prev {
    left: 4%;
  }
}

@media (max-width: 981px) {
  .nex {
    left: 90%;
  }
}
@media (max-width: 768px) {
  .nex {
    left: 87%;
  }
}
@media (max-width: 690px) {
  .nex {
    left: 89%;
  }
}
@media (max-width: 412px) {
  .nex {
    left: 87%;
  }
}
@media (max-width: 321px) {
  .nex {
    left: 80%;
  }
}

.favorites {
  padding: 42px 0px 55px 0px;
}
@media (max-width: 990px) {
  .favorites {
    padding: 42px 30px 55px 30px;
  }
}
@media (max-width: 768px) {
  .favorites {
    padding: 42px 23px 55px 23px;
  }
}
@media (max-width: 768px) {
  .favorites {
    padding: 42px 23px 53px 23px;
  }
}

.favorites__title {
  letter-spacing: 1.3px;
}

.favorites__btns {
  padding-top: 40px;
}

@media (max-width: 690px) {
  .favorites__button {
    display: flex;
  }
}
@media (max-width: 412px) {
  .favorites__button {
    justify-content: center;
  }
}

.favorites__pick {
  margin: 0 0 40px 0;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.4rem;
}
@media (max-width: 768px) {
  .favorites__pick {
    letter-spacing: -0.3px;
  }
}
@media (max-width: 412px) {
  .favorites__pick {
    text-align: center;
  }
}

.favorites__btn {
  margin-bottom: 38px;
  margin-top: -10px;
  padding: 0 15px;
  display: flex;
  flex-direction: row;
  gap: 0 10%;
}
@media (max-width: 768px) {
  .favorites__btn {
    margin-bottom: 40px;
    gap: 0 15.5%;
  }
}
@media (max-width: 690px) {
  .favorites__btn {
    gap: 0 13%;
  }
}
@media (max-width: 477px) {
  .favorites__btn {
    flex-direction: column;
    gap: 30px 0;
  }
}
@media (max-width: 412px) {
  .favorites__btn {
    justify-content: center;
  }
}

input[type=radio], label {
  cursor: pointer;
}

input[type=radio] {
  position: relative;
  width: 17px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}

input[type=radio]::before {
  content: "";
  position: absolute;
  margin-left: -13px;
  margin-top: 13px;
  top: 74%;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 2px solid #000000;
}

input[type=radio]:checked::after {
  content: "";
  position: absolute;
  margin-left: -13px;
  margin-top: 13px;
  top: 74%;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #000000;
  transform: translate(-50%, -50%);
  visibility: visible;
}

.input__label {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.4rem;
}

.input__label:hover {
  font-weight: 700;
  transition: 0.4s ease-in-out;
}
@media (max-width: 768px) {
  .input__label:hover {
    font-weight: 400;
  }
}

.favorites__button {
  width: 62px;
}

.favorites__button__active {
  font-weight: 700;
  transition: 0.4s all font-weight;
}

.favorites__books {
  display: grid;
  flex-direction: column;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px 220px;
  flex-wrap: wrap;
}
@media (max-width: 1404px) {
  .favorites__books {
    grid-template-columns: 510px;
    justify-content: center;
    gap: 80px 220px;
  }
}
@media (max-width: 768px) {
  .favorites__books {
    grid-template-columns: 550px;
    margin-right: 20px;
    gap: 40px 220px;
  }
}
@media (max-width: 477px) {
  .favorites__books {
    grid-template-columns: 480px;
    margin: 0;
  }
}
@media (max-width: 477px) {
  .favorites__books {
    grid-template-columns: 400px;
  }
}
@media (max-width: 412px) {
  .favorites__books {
    grid-template-columns: repeat(1, 1fr);
  }
}

@keyframes show {
  from {
    opacity: 0;
    box-shadow: -1px 0px 5px 9px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -1px 0px 5px 9px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 0px 5px 9px rgba(0, 0, 0, 0.75);
  }
  to {
    opacity: 1;
  }
}
.book {
  width: 510px;
  padding: 17px 20px 13px 20px;
  border: 1px solid #000000;
  animation: show 0.7s ease-in-out;
  animation-timing-function: linear;
}
@media (max-width: 477px) {
  .book {
    width: 400px;
  }
}
@media (max-width: 477px) {
  .book {
    width: 300px;
  }
}
@media (max-width: 412px) {
  .book {
    width: 350px;
  }
}
@media (max-width: 375px) {
  .book {
    width: 290px;
  }
}
@media (max-width: 360px) {
  .book {
    width: 260px;
  }
}

.book__title {
  margin: 0;
  font-family: "Forum", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 4rem;
  letter-spacing: 2px;
}

.book__line {
  width: 60px;
  height: 0.5px;
  margin: -2px 0 20px 0;
  background-color: #BB945F;
}

.book__name {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 2px;
  line-height: 4rem;
  text-transform: uppercase;
}

.book__author {
  margin-bottom: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 2px;
  line-height: 4rem;
}

.book__desk {
  position: relative;
  width: 352px;
  height: 320px;
  margin: 0 0 15px 0;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 4rem;
  letter-spacing: 2.2px;
}
@media (max-width: 375px) {
  .book__desk {
    width: 290px;
    margin: 0 0 130px 0;
  }
}
@media (max-width: 360px) {
  .book__desk {
    width: 260px;
    margin: 0 0 260px 0;
    font-size: 2rem;
  }
}

.book__img {
  position: absolute;
  margin-left: 24.2%;
  margin-top: -16.7%;
}
@media (max-width: 1161px) {
  .book__img {
    margin-left: 33%;
    margin-top: -21%;
  }
}
@media (max-width: 990px) {
  .book__img {
    margin-left: 40%;
    margin-top: -25%;
  }
}
@media (max-width: 990px) {
  .book__img {
    margin-left: 45%;
    margin-top: -32%;
  }
}
@media (max-width: 768px) {
  .book__img {
    margin-left: 49.5%;
    margin-top: -34%;
  }
}
@media (max-width: 690px) {
  .book__img {
    display: none;
  }
}

.book__btn {
  padding: 8px 25px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.2rem;
  letter-spacing: 1px;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 375px) {
  .book__btn {
    padding: 18px 55px;
    font-size: 2rem;
    font-weight: 400;
  }
}

.book__btn:hover {
  background-color: #BB945F;
  border: 1px solid #BB945F;
}
@media (max-width: 768px) {
  .book__btn:hover {
    background-color: transparent;
    border: 1px solid #000000;
  }
}

.shop {
  padding: 0 0 15px 0;
}
@media (max-width: 1161px) {
  .shop {
    padding: 0 20px 15px 20px;
  }
}
@media (max-width: 990px) {
  .shop {
    padding: 0 40px 15px 40px;
  }
}
@media (max-width: 768px) {
  .shop {
    padding: 0 0px 15px 0px;
  }
}
@media (max-width: 690px) {
  .shop {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.shop__title {
  letter-spacing: 1.3px;
}
@media (max-width: 768px) {
  .shop__title {
    letter-spacing: 1.8px;
  }
}

.shop__text {
  margin: 0 0 40px 0;
  padding: 40px 0 0 0;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  letter-spacing: 2px;
  line-height: 4rem;
  text-align: center;
}
@media (max-width: 1404px) {
  .shop__text {
    padding: 40px 20px 0 20px;
  }
}
@media (max-width: 768px) {
  .shop__text {
    width: 738px;
    margin: 0 0 40px -5px;
  }
}
@media (max-width: 690px) {
  .shop__text {
    width: 620px;
    margin-left: 0;
  }
}
@media (max-width: 477px) {
  .shop__text {
    width: 550px;
  }
}
@media (max-width: 520px) {
  .shop__text {
    width: 430px;
  }
}
@media (max-width: 477px) {
  .shop__text {
    width: 370px;
    text-align: left;
  }
}
@media (max-width: 412px) {
  .shop__text {
    width: 300px;
  }
}
@media (max-width: 360px) {
  .shop__text {
    width: 280px;
    font-size: 2.5rem;
  }
}
@media (max-width: 321px) {
  .shop__text {
    width: 260px;
  }
}

.shop__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 1404px) {
  .shop__menu {
    flex-direction: column;
  }
}

.shop__drink {
  padding-left: 20px;
}

.menu__title {
  margin: 0 0 40px 0;
  font-family: "Forum", sans-serif;
  font-weight: 400;
  font-size: 4rem;
  color: #BB945F;
  line-height: 4rem;
  letter-spacing: 2px;
}

.menu__desc {
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
}

.menu__dessert {
  gap: 0 58px;
}
@media (max-width: 1161px) {
  .menu__dessert {
    justify-content: end;
  }
}
@media (max-width: 375px) {
  .menu__dessert {
    gap: 0 20px;
  }
}

.menu__desc__coffe {
  gap: 0 50px;
}
@media (max-width: 375px) {
  .menu__desc__coffe {
    gap: 0 10px;
  }
}

.shop__dessert {
  text-align: right;
}

.menu__type {
  width: 215px;
  font-family: "Inter", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 4rem;
  letter-spacing: 2px;
  color: #0C0C0E;
}
@media (max-width: 375px) {
  .menu__type {
    width: 130px;
  }
}

.menu__line {
  width: 100px;
  height: 1px;
  align-self: center;
  background-color: #BB945F;
}

.menu__price {
  font-family: "Forum", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 4rem;
  letter-spacing: 2px;
}
@media (max-width: 375px) {
  .menu__price {
    align-self: center;
  }
}

.menu__desc__dessert {
  text-align: right;
}
@media (max-width: 375px) {
  .menu__desc__dessert {
    text-align: left;
  }
}

.contacts {
  padding: 0 0 50px 0;
}
@media (max-width: 1161px) {
  .contacts {
    padding: 0 40px 50px 40px;
  }
}
@media (max-width: 768px) {
  .contacts {
    padding: 0 20px 51px 20px;
  }
}

.contact__title {
  letter-spacing: 1.3px;
}

.contacts__desk {
  display: flex;
  padding: 40px 0px 0px 0px;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 1404px) {
  .contacts__desk {
    flex-direction: column;
  }
}

.contacts__adress {
  margin-bottom: 63px;
}
@media (max-width: 477px) {
  .contacts__adress {
    margin-bottom: 0px;
  }
}

.contacts__text {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 4rem;
  letter-spacing: 2.5px;
  word-spacing: -1.6px;
}
@media (max-width: 768px) {
  .contacts__text {
    letter-spacing: 2.2px;
  }
}

.inquiries {
  font-weight: 700;
  color: #000000;
}

@media (max-width: 690px) {
  .contacts__card {
    text-align: center;
  }
}

@media (max-width: 690px) {
  .contacts__img {
    width: 600px;
    height: 320px;
  }
}
@media (max-width: 477px) {
  .contacts__img {
    width: 520px;
    height: 300px;
  }
}
@media (max-width: 520px) {
  .contacts__img {
    width: 450px;
    height: 250px;
  }
}
@media (max-width: 477px) {
  .contacts__img {
    width: 380px;
    height: 250px;
  }
}
@media (max-width: 412px) {
  .contacts__img {
    width: 350px;
    height: 290px;
  }
}
@media (max-width: 375px) {
  .contacts__img {
    width: 300px;
    height: 220px;
  }
}
@media (max-width: 321px) {
  .contacts__img {
    width: 280px;
  }
}

.library {
  margin-bottom: 40px;
}

.call {
  margin-bottom: 20px;
}

.service {
  margin-bottom: 20px;
}

.putterham {
  margin-bottom: 40px;
}

.senior {
  margin-bottom: 20px;
}

.libraryCard {
  padding: 0 0 85px 0;
}
@media (max-width: 1404px) {
  .libraryCard {
    padding: 20px 45px 70px;
  }
}
@media (max-width: 768px) {
  .libraryCard {
    padding: 0px 0px 40px 0px;
  }
}
@media (max-width: 520px) {
  .libraryCard {
    padding: 0 10px 20px 10px;
  }
}

.libraryCard__title {
  letter-spacing: 1.8px;
}

.libraryCard__cards {
  position: relative;
  display: flex;
  padding: 40px 0px 0px 0px;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 1404px) {
  .libraryCard__cards {
    flex-direction: column;
    gap: 60px 0;
  }
}

@media (max-width: 1161px) {
  .libraryCard__block {
    margin: auto;
  }
}
@media (max-width: 768px) {
  .libraryCard__block {
    margin: 0 0 0px 11%;
  }
}
@media (max-width: 690px) {
  .libraryCard__block {
    margin: auto;
  }
}

.libraryCard__form-title {
  margin: 0 0 30px 0;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 3rem;
  line-height: 36px;
  letter-spacing: 0.6px;
  text-align: center;
}
@media (max-width: 768px) {
  .libraryCard__form-title {
    margin: 0 60px 30px 0px;
  }
}
@media (max-width: 477px) {
  .libraryCard__form-title {
    margin: 0 0px 30px 0px;
  }
}
@media (max-width: 412px) {
  .libraryCard__form-title {
    margin: 0 50px 30px 0px;
  }
}
@media (max-width: 360px) {
  .libraryCard__form-title {
    margin: 0 97px 30px 0px;
  }
}
@media (max-width: 321px) {
  .libraryCard__form-title {
    margin: 0 90px 30px -40px;
    font-size: 2.5rem;
  }
}

.libraryCard__form {
  padding: 20px 20px 26px 20px;
  border: 3px solid #BB945F;
}
@media (max-width: 1161px) {
  .libraryCard__form {
    width: 600px;
  }
}
@media (max-width: 768px) {
  .libraryCard__form {
    width: 558px;
  }
}
@media (max-width: 477px) {
  .libraryCard__form {
    width: 490px;
  }
}
@media (max-width: 520px) {
  .libraryCard__form {
    padding: 0;
    border: none;
  }
}
@media (max-width: 520px) {
  .libraryCard__form {
    width: 430px;
  }
}

.form {
  width: 524px;
  margin-bottom: 20px;
  padding: 17px 17px 5px 17px;
  background-color: #BB945F;
}
@media (max-width: 477px) {
  .form {
    width: 450px;
  }
}
@media (max-width: 520px) {
  .form {
    width: 380px;
    margin: auto;
  }
}
@media (max-width: 412px) {
  .form {
    width: 300px;
    margin-left: 15px;
  }
}
@media (max-width: 375px) {
  .form {
    width: 270px;
  }
}
@media (max-width: 321px) {
  .form {
    width: 235px;
  }
}

.form__title {
  margin-bottom: 20px;
  font-family: "Forum", sans-serif;
  font-weight: 400;
  font-size: 3rem;
  line-height: 5rem;
  letter-spacing: 0.7px;
}
@media (max-width: 375px) {
  .form__title {
    text-align: center;
  }
}

.input__text, .input__number {
  width: 500px;
  padding: 10px 0px 5px 20px;
  margin-bottom: 21px;
  border-radius: 10px;
  font-family: "Forum", sans-serif;
  font-size: 3rem;
  font-weight: 400;
  line-height: 5rem;
  letter-spacing: 0.7px;
  cursor: pointer;
}
@media (max-width: 477px) {
  .input__text, .input__number {
    width: 400px;
  }
}
@media (max-width: 520px) {
  .input__text, .input__number {
    width: 300px;
  }
}
@media (max-width: 412px) {
  .input__text, .input__number {
    width: 250px;
  }
}
@media (max-width: 321px) {
  .input__text, .input__number {
    width: 218px;
  }
}

.libraryCard__butn {
  text-align: center;
}
@media (max-width: 520px) {
  .libraryCard__butn {
    padding: 30px 0px 0px 0px;
  }
}
@media (max-width: 412px) {
  .libraryCard__butn {
    padding: 30px 40px 0px 0px;
  }
}
@media (max-width: 375px) {
  .libraryCard__butn {
    padding: 30px 60px 0px 0px;
  }
}
@media (max-width: 321px) {
  .libraryCard__butn {
    padding: 30px 140px 0px 0px;
  }
}

.libraryCard__button {
  width: 242px;
  padding: 8px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.4rem;
  letter-spacing: 1px;
  text-align: center;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.libraryCard__button:hover {
  background-color: #BB945F;
  border: 1px solid #BB945F;
}
@media (max-width: 768px) {
  .libraryCard__button:hover {
    background-color: transparent;
    border: 1px solid #000000;
  }
}

.libraryCard__account {
  position: relative;
  text-align: right;
}
@media (max-width: 1161px) {
  .libraryCard__account {
    padding: 30px 0px 0px 0px;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .libraryCard__account {
    padding: 23px 40px 0px 40px;
  }
}

.libraryCard__account-title {
  margin: 0 0 30px 0;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 3rem;
  line-height: 36px;
  letter-spacing: -1.6px;
}
@media (max-width: 768px) {
  .libraryCard__account-title {
    margin: 0 0px 37px 22px;
  }
}
@media (max-width: 321px) {
  .libraryCard__account-title {
    margin: 0 0px 37px 0px;
    font-size: 2.5rem;
  }
}

.libraryCard__text {
  width: 470px;
  margin: 0 0 36px 0;
  font-family: "Inter", sans-serif;
  font-size: 2rem;
  line-height: 4rem;
  letter-spacing: 0.6px;
}
@media (max-width: 1161px) {
  .libraryCard__text {
    width: 600px;
    margin: auto;
  }
}
@media (max-width: 768px) {
  .libraryCard__text {
    margin: 0 50px 5px;
  }
}
@media (max-width: 690px) {
  .libraryCard__text {
    margin: auto;
  }
}
@media (max-width: 477px) {
  .libraryCard__text {
    width: 390px;
  }
}
@media (max-width: 412px) {
  .libraryCard__text {
    width: 320px;
  }
}
@media (max-width: 375px) {
  .libraryCard__text {
    margin-left: -40px;
  }
}
@media (max-width: 321px) {
  .libraryCard__text {
    width: 280px;
    margin-left: -50px;
  }
}

.libraryCard__buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 0 20px;
}
@media (max-width: 1161px) {
  .libraryCard__buttons {
    padding: 36px 0px 0px 0px;
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .libraryCard__buttons {
    margin: 0 0 0 15px;
  }
}
@media (max-width: 412px) {
  .libraryCard__buttons {
    margin-left: 25%;
    flex-direction: column;
    gap: 30px 0px;
  }
}
@media (max-width: 375px) {
  .libraryCard__buttons {
    margin-left: 15%;
  }
}

.libraryCard__btn {
  width: 75px;
  padding: 8px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.2rem;
  letter-spacing: 1px;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
@media (max-width: 412px) {
  .libraryCard__btn {
    width: 180px;
    padding: 20px;
    font-size: 2rem;
  }
}

.libraryCard__btn:hover {
  background-color: #BB945F;
  border: 1px solid #BB945F;
}
@media (max-width: 768px) {
  .libraryCard__btn:hover {
    background-color: transparent;
    border: 1px solid #000000;
  }
}

.icon {
  display: block;
  width: 24px;
  height: 24px;
  transition: all 0.4s ease-in-out;
}
@media (max-width: 360px) {
  .icon {
    width: 50px;
    height: 50px;
  }
}
.icon__twitter {
  background-image: url("../../src/img/social-media/twitter.png");
  background-size: 24px 24px;
  background-repeat: no-repeat;
  align-items: center;
}
@media (max-width: 360px) {
  .icon__twitter {
    background-size: 50px 50px;
  }
}
.icon__instagram {
  background-image: url("../../src/img/social-media/instagram.png");
  background-size: 24px 24px;
  background-repeat: no-repeat;
  align-items: center;
}
@media (max-width: 360px) {
  .icon__instagram {
    background-size: 50px 50px;
  }
}
.icon__facebook {
  background-image: url("../../src/img/social-media/facebook.png");
  background-size: 24px 24px;
  background-repeat: no-repeat;
  align-items: center;
}
@media (max-width: 360px) {
  .icon__facebook {
    background-size: 50px 50px;
  }
}

.icon:hover {
  transform: scale(1.5);
}
@media (max-width: 768px) {
  .icon:hover {
    transform: scale(1);
  }
}

.log {
  position: absolute;
  margin-left: 87%;
  margin-top: 50px;
  width: 120px;
  background-color: #FFFFFF;
  opacity: 0;
  transition: 0.5s all;
  pointer-events: none;
}
@media (max-width: 1161px) {
  .log {
    margin-left: 80%;
  }
}
@media (max-width: 990px) {
  .log {
    margin-left: 65%;
  }
}
@media (max-width: 477px) {
  .log {
    margin-left: 60%;
  }
}
@media (max-width: 375px) {
  .log {
    margin-left: 50%;
  }
}
@media (max-width: 321px) {
  .log {
    margin-left: 45%;
  }
}

.login__active, .login_active__register {
  opacity: 1;
  pointer-events: all;
  transition: 0.5s all;
}

.login__title, .login-register__title {
  padding: 15px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: center;
}

.login__line {
  width: 40px;
  height: 1px;
  margin: auto;
  background-color: #BB945F;
}

.login__profile {
  padding: 15px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: center;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.login__log {
  padding: 15px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: center;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.login__profile:hover, .login__log:hover {
  font-weight: 700;
}

.modal {
  position: fixed;
  opacity: 0;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: 0.5s all;
  pointer-events: none;
}

.modal__active {
  opacity: 1;
  pointer-events: all;
  transition: 0.5s all;
}

.modal__body {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 30%;
  left: 40%;
  width: 250px;
  padding: 15px 30px;
  background-color: #FFFFFF;
}
@media (max-width: 690px) {
  .modal__body {
    top: 30%;
    left: 25%;
  }
}
@media (max-width: 477px) {
  .modal__body {
    top: 30%;
    left: 15%;
  }
}
@media (max-width: 412px) {
  .modal__body {
    left: 8%;
  }
}
@media (max-width: 360px) {
  .modal__body {
    width: 220px;
    left: 3%;
  }
}
@media (max-width: 321px) {
  .modal__body {
    width: 210px;
    left: 2%;
  }
}

.modal__title {
  position: relative;
  margin: 0 0 20px 0;
  text-align: center;
  font-family: "Forum", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.modal_closed {
  position: absolute;
  width: 15px;
  height: 15px;
  margin-left: 80%;
  background-image: url("../../src/img/modal/close_btn.png");
  background-size: 15px 15px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.modal__email, .modal__password {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: left;
  cursor: pointer;
}

.input-password, .input-email {
  border: 1px solid #BB945F;
}

.modal__btn {
  width: 75px;
  padding: 8px 8px;
  margin-bottom: 15px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.2rem;
  letter-spacing: 1px;
  align-items: center;
  cursor: pointer;
}

.modal__account {
  display: flex;
  flex-direction: row;
  gap: 0 20px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.2rem;
  letter-spacing: 1px;
  color: #000000;
  background: transparent;
  transition: all 0.3s ease-in-out;
}

.modal__link {
  font-family: "Inter", sans-serif;
  color: #000000;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.2rem;
  text-decoration: underline;
  cursor: pointer;
}

.modal-register {
  position: fixed;
  opacity: 0;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: 0.5s all;
  pointer-events: none;
}

.modal-register__active {
  opacity: 1;
  pointer-events: all;
  transition: 0.5s all;
}

.modal-register__body {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 30%;
  left: 40%;
  width: 250px;
  padding: 15px 30px;
  background-color: #FFFFFF;
}
@media (max-width: 690px) {
  .modal-register__body {
    top: 30%;
    left: 25%;
  }
}
@media (max-width: 477px) {
  .modal-register__body {
    top: 30%;
    left: 15%;
  }
}
@media (max-width: 412px) {
  .modal-register__body {
    left: 8%;
  }
}
@media (max-width: 360px) {
  .modal-register__body {
    width: 220px;
    left: 3%;
  }
}
@media (max-width: 321px) {
  .modal-register__body {
    width: 210px;
    left: 2%;
  }
}

.modal-register__title {
  position: relative;
  margin: 0 0 20px 0;
  text-align: center;
  font-family: "Forum", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.modal-register_closed {
  position: absolute;
  width: 15px;
  height: 15px;
  margin-left: 80%;
  background-image: url("../../src/img/modal/close_btn.png");
  background-size: 15px 15px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.modal-register__email, .modal-register__password, .modal-register_first-name, .modal-register_last-name {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: left;
  cursor: pointer;
}

.input-register-password, .input-register_email, .input-register_name {
  position: relative;
  border: 1px solid #BB945F;
}

.modal-register__btn {
  position: relative;
  width: 75px;
  padding: 8px 8px;
  margin-bottom: 15px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.2rem;
  letter-spacing: 1px;
  align-items: center;
  cursor: pointer;
}

.modal-register__account {
  display: flex;
  flex-direction: row;
  gap: 0 20px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.2rem;
  letter-spacing: 1px;
  color: #000000;
  background: transparent;
  transition: all 0.3s ease-in-out;
}

.modal-register__link {
  font-family: "Inter", sans-serif;
  color: #000000;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.2rem;
  text-decoration: underline;
  cursor: pointer;
}

.input-register_name:invalid,
.input-register_email:invalid,
.input-register-password:invalid {
  border: 2px solid rgba(255, 0, 0, 0.5);
}

.input-register_name:invalid:focus,
.input-register_email:invalid:focus,
.input-register-password:invalid:focus {
  border: 2px solid rgba(255, 0, 0, 0.5);
}

.input-register-password-control {
  position: absolute;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-top: 20px;
  margin-left: 220px;
  background-image: url("../../src/img/modal/icons-eye-password-hide.png");
  background-size: 20px 20px;
}

.input-register-password-control.view {
  background-image: url("../../src/img/modal/icons-eye-password.png");
  background-size: 20px 20px;
}

.modal-register__notValid {
  opacity: 0;
  position: absolute;
  top: 80%;
  left: 40%;
  width: 100px;
  text-align: center;
  padding: 8px 12px;
  background-color: #FFFFFF;
  color: red;
  transition: 0.5s all;
  pointer-events: none;
}

.modal-register__notValid__active {
  opacity: 1;
  pointer-events: all;
  transition: 0.5s all;
}

.modal-buy {
  position: fixed;
  opacity: 0;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: 0.5s all;
  pointer-events: none;
}

.modal-buy__active {
  opacity: 1;
  pointer-events: all;
  transition: 0.5s all;
}

.modal-buy__body {
  top: 5%;
  left: 35%;
  width: 650px;
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
}
@media (max-width: 1161px) {
  .modal-buy__body {
    top: 5%;
    left: 20%;
  }
}
@media (max-width: 990px) {
  .modal-buy__body {
    top: 5%;
    left: 12%;
  }
}
@media (max-width: 768px) {
  .modal-buy__body {
    width: 550px;
    top: 15%;
    left: 10%;
  }
}
@media (max-width: 690px) {
  .modal-buy__body {
    width: 450px;
    top: 17%;
    left: 8%;
  }
}
@media (max-width: 520px) {
  .modal-buy__body {
    width: 400px;
    top: 17%;
    left: 5%;
  }
}
@media (max-width: 477px) {
  .modal-buy__body {
    width: 340px;
    top: 17%;
    left: 3%;
  }
}
@media (max-width: 375px) {
  .modal-buy__body {
    width: 300px;
    top: 17%;
    left: 3%;
  }
}
@media (max-width: 321px) {
  .modal-buy__body {
    width: 290px;
    top: 17%;
    left: 2%;
  }
}

.modal-buy__header {
  display: flex;
  padding: 10px 20px;
  flex-direction: row;
  justify-content: flex-end;
  text-align: center;
  background-color: #0C0C0E;
}
@media (max-width: 477px) {
  .modal-buy__header {
    padding: 10px 15px;
    justify-content: center;
  }
}
@media (max-width: 375px) {
  .modal-buy__header {
    flex-direction: column-reverse;
  }
}
@media (max-width: 375px) {
  .modal-buy__header {
    gap: 20px 0;
  }
}

.modal-buy__about {
  margin: 0;
  font-family: "Forum", sans-serif;
  font-weight: 400;
  font-size: 4rem;
  color: #FFFFFF;
}

.modal-buy__close {
  width: 15px;
  height: 15px;
  margin-left: 40%;
  align-self: center;
  background-image: url("../../src/img/modal/close_buy_btn.png");
  background-size: 15px 15px;
  background-repeat: no-repeat;
  cursor: pointer;
}
@media (max-width: 520px) {
  .modal-buy__close {
    margin-left: 20%;
  }
}
@media (max-width: 477px) {
  .modal-buy__close {
    margin-left: 10%;
  }
}
@media (max-width: 375px) {
  .modal-buy__close {
    margin-left: 90%;
  }
}

.modal-buy__main {
  display: flex;
  flex-direction: row;
  padding: 20px;
  gap: 0 20px;
}
@media (max-width: 477px) {
  .modal-buy__main {
    flex-direction: column;
  }
}

.modal-buy__form {
  display: flex;
  flex-direction: column;
}

.modal-buy__title {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  gap: 15px 0;
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2rem;
  letter-spacing: 1px;
  color: #000000;
  text-align: left;
}

.modal-buy__title_row {
  display: flex;
  flex-direction: row;
  gap: 0 10px;
}

.input__buy {
  height: 20px;
  border: 1px solid #BB945F;
  cursor: pointer;
}

.input__buy_big {
  width: 200px;
}

.input__buy_smal {
  width: 45px;
}

.modal-buy__text {
  width: 330px;
  text-align: left;
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.5rem;
  letter-spacing: 1px;
  color: #8E8E8E;
}

.modal-buy__button {
  display: flex;
  flex-direction: row;
  gap: 0 20px;
}

.modal-buy__butn {
  width: 75px;
  padding: 5px 15px;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.2rem;
  letter-spacing: 1px;
  cursor: pointer;
}

.modal-buy__prase {
  font-family: "Inter", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2rem;
  letter-spacing: 1px;
}

.modal-profile {
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  opacity: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: 0.5s all;
  pointer-events: none;
}

.modal-profile__active {
  opacity: 1;
  pointer-events: all;
  transition: 0.5s all;
}

.modal-profile__body {
  top: 20%;
  left: 30%;
  position: absolute;
  display: flex;
  flex-direction: row;
  background-color: #FFFFFF;
}
@media (max-width: 990px) {
  .modal-profile__body {
    top: 15%;
    left: 15%;
  }
}
@media (max-width: 768px) {
  .modal-profile__body {
    top: 10%;
    left: 8%;
  }
}
@media (max-width: 690px) {
  .modal-profile__body {
    flex-direction: column;
    top: 5%;
    left: 15%;
  }
}
@media (max-width: 477px) {
  .modal-profile__body {
    top: 5%;
    left: 5%;
  }
}
@media (max-width: 412px) {
  .modal-profile__body {
    top: 15%;
    left: 5%;
    width: 320px;
  }
}
@media (max-width: 360px) {
  .modal-profile__body {
    top: 15%;
    left: 3%;
    width: 280px;
  }
}

.modal-profile__name {
  padding: 100px 20px;
  gap: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #0C0C0E;
}
@media (max-width: 690px) {
  .modal-profile__name {
    padding: 60px 100px;
  }
}

.modal-profile__icon {
  padding: 40px;
  background-color: #FFFFFF;
  color: #BB945F;
  font-family: "Inter", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  align-items: center;
  text-transform: uppercase;
}
@media (max-width: 690px) {
  .modal-profile__icon {
    padding: 50px;
    align-self: center;
    font-size: 3rem;
  }
}
@media (max-width: 412px) {
  .modal-profile__icon {
    padding: 40px 120px;
    font-size: 4rem;
  }
}
@media (max-width: 360px) {
  .modal-profile__icon {
    padding: 30px 80px;
    font-size: 3.5rem;
  }
}

.modal-profile__famile {
  display: flex;
  flex-direction: column;
  gap: 15px 0px;
  padding: 5px 15px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 2rem;
  color: #000000;
  background-color: #FFFFFF;
  text-transform: capitalize;
}
@media (max-width: 690px) {
  .modal-profile__famile {
    padding: 20px;
    align-self: center;
    font-size: 3rem;
  }
}
@media (max-width: 412px) {
  .modal-profile__famile {
    padding: 25px 80px;
    font-size: 4rem;
    line-height: 5rem;
  }
}
@media (max-width: 360px) {
  .modal-profile__famile {
    padding: 15px 60px;
    font-size: 3.5rem;
  }
}

.modal-profile__desk {
  display: flex;
  flex-direction: column;
  padding: 25px 160px 25px 25px;
}
@media (max-width: 768px) {
  .modal-profile__desk {
    padding: 25px 100px 25px 25px;
  }
}
@media (max-width: 690px) {
  .modal-profile__desk {
    padding: 20px 70px 20px 20px;
  }
}
@media (max-width: 412px) {
  .modal-profile__desk {
    padding: 20px 25px 20px 20px;
  }
}
@media (max-width: 360px) {
  .modal-profile__desk {
    padding: 20px 30px 20px 20px;
  }
}

.modal-profile__title {
  margin: 0 0 30px 0;
  font-family: "Forum", sans-serif;
  font-weight: 400;
  font-size: 4rem;
  line-height: 2rem;
  letter-spacing: 1px;
  color: #000000;
  text-transform: uppercase;
  text-align: left;
}

.modal-profile__close {
  position: absolute;
  width: 15px;
  height: 15px;
  margin-left: 62%;
  margin-top: -10px;
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-image: url("../../src/img/modal/close_btn.png");
  cursor: pointer;
}
@media (max-width: 690px) {
  .modal-profile__close {
    margin-left: 85%;
    margin-top: -5px;
  }
}

.modal-profile__info {
  margin-bottom: 20px;
  padding-top: 30%;
  display: flex;
  flex-direction: row;
  gap: 0 30px;
}

.profile__title, .profile__count {
  margin: 0 0 20px 0;
  text-align: left;
  font-family: "Inter", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 2rem;
  color: #000000;
}

.profile__icon {
  width: 21px;
  height: 21px;
  display: block;
  margin-bottom: 20px;
  background-repeat: no-repeat;
  background-size: 21px 21px;
  cursor: pointer;
}
.profile__icon__visits {
  background-image: url("../../src/img/form/Union-form.jpg");
}
.profile__icon__bonuses {
  background-image: url("../../src/img/form/Star-form.jpg");
}
.profile__icon__books {
  background-image: url("../../src/img/form/book-form.jpg");
}

.modal-profile__rented {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.modal-profile__book, .modal-profile__books {
  margin: 0 0 20px 0;
  padding: 0;
  text-align: left;
  font-family: "Inter", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  line-height: 2rem;
  color: #0C0C0E;
}

.modal-profile__books {
  margin-left: 20px;
  list-style-type: disc;
}

.modal-profile__item {
  margin-bottom: 15px;
}

.activeCard__block {
  position: absolute;
  transition: 0.5 all;
  pointer-events: none;
  opacity: 0;
}
@media (max-width: 1161px) {
  .activeCard__block {
    margin: 0px 0px 0px 20%;
  }
}
@media (max-width: 768px) {
  .activeCard__block {
    margin: 0 0 0px 11%;
  }
}
@media (max-width: 883px) {
  .activeCard__block {
    margin: 0 0 0px 5%;
  }
}
@media (max-width: 990px) {
  .activeCard__block {
    margin: 0px 0px 10px 13%;
  }
}
@media (max-width: 690px) {
  .activeCard__block {
    margin: 0 0 0px 2%;
  }
}

.activeCard__block__active,
.formActive__account__active {
  opacity: 1;
  pointer-events: all;
  transition: 0.5s all;
}

.activeCard__form-title {
  margin: 0 0 30px 0;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 3rem;
  line-height: 36px;
  letter-spacing: 0.6px;
  text-align: center;
}
@media (max-width: 768px) {
  .activeCard__form-title {
    margin: 0 60px 30px 0px;
  }
}
@media (max-width: 477px) {
  .activeCard__form-title {
    margin: 0 0px 30px 0px;
  }
}
@media (max-width: 412px) {
  .activeCard__form-title {
    margin: 0 50px 30px 0px;
  }
}
@media (max-width: 360px) {
  .activeCard__form-title {
    margin: 0 97px 30px 0px;
  }
}
@media (max-width: 321px) {
  .activeCard__form-title {
    margin: 0 90px 30px -40px;
    font-size: 2.5rem;
  }
}

.activeCard__form {
  padding: 20px 20px 5px 20px;
  border: 3px solid #BB945F;
}
@media (max-width: 1161px) {
  .activeCard__form {
    width: 600px;
  }
}
@media (max-width: 768px) {
  .activeCard__form {
    width: 558px;
  }
}
@media (max-width: 883px) {
  .activeCard__form {
    width: 558px;
  }
}
@media (max-width: 477px) {
  .activeCard__form {
    width: 490px;
  }
}
@media (max-width: 690px) {
  .activeCard__form {
    width: 450px;
  }
}
@media (max-width: 520px) {
  .activeCard__form {
    padding: 0;
    border: none;
  }
}
@media (max-width: 520px) {
  .activeCard__form {
    width: 430px;
  }
}

.formActive {
  width: 524px;
  margin-bottom: 20px;
  padding: 17px 17px 5px 17px;
  background-color: #BB945F;
}
@media (max-width: 690px) {
  .formActive {
    width: 420px;
  }
}
@media (max-width: 477px) {
  .formActive {
    width: 450px;
  }
}
@media (max-width: 520px) {
  .formActive {
    width: 350px;
  }
}
@media (max-width: 412px) {
  .formActive {
    width: 300px;
    margin-left: 15px;
  }
}
@media (max-width: 375px) {
  .formActive {
    width: 270px;
  }
}
@media (max-width: 321px) {
  .formActive {
    width: 235px;
  }
}

.formActive__title {
  margin-bottom: 20px;
  font-family: "Forum", sans-serif;
  font-weight: 400;
  font-size: 3rem;
  line-height: 5rem;
  letter-spacing: 0.7px;
}
@media (max-width: 375px) {
  .formActive__title {
    text-align: center;
  }
}

.inputformActive__text, .inputformActive__number {
  width: 500px;
  padding: 10px 0px 5px 20px;
  margin-bottom: 21px;
  border-radius: 10px;
  font-family: "Forum", sans-serif;
  font-size: 3rem;
  font-weight: 400;
  line-height: 5rem;
  letter-spacing: 0.7px;
  cursor: pointer;
}
@media (max-width: 690px) {
  .inputformActive__text, .inputformActive__number {
    width: 400px;
  }
}
@media (max-width: 477px) {
  .inputformActive__text, .inputformActive__number {
    width: 400px;
  }
}
@media (max-width: 520px) {
  .inputformActive__text, .inputformActive__number {
    width: 320px;
  }
}
@media (max-width: 412px) {
  .inputformActive__text, .inputformActive__number {
    width: 250px;
  }
}
@media (max-width: 321px) {
  .inputformActive__text, .inputformActive__number {
    width: 218px;
  }
}

.formActive__butn {
  text-align: center;
}
@media (max-width: 520px) {
  .formActive__butn {
    padding: 30px 0px 0px 0px;
  }
}
@media (max-width: 412px) {
  .formActive__butn {
    padding: 30px 40px 0px 0px;
  }
}
@media (max-width: 375px) {
  .formActive__butn {
    padding: 30px 60px 0px 0px;
  }
}
@media (max-width: 321px) {
  .formActive__butn {
    padding: 30px 140px 0px 0px;
  }
}

.formActive__profile__info {
  justify-content: center;
}

.formActive__account {
  margin-left: 66.6%;
  position: absolute;
  text-align: right;
  transition: 0.5 all;
  pointer-events: none;
  opacity: 0;
}
@media (max-width: 1404px) {
  .formActive__account {
    margin-left: 55%;
  }
}
@media (max-width: 1161px) {
  .formActive__account {
    padding: 52% 0px 0px 0px;
    margin-left: 20%;
    text-align: center;
  }
}
@media (max-width: 990px) {
  .formActive__account {
    padding: 63% 0px 0px 0px;
    margin-left: 17%;
  }
}
@media (max-width: 948px) {
  .formActive__account {
    padding: 67% 0px 0px 0px;
  }
}
@media (max-width: 883px) {
  .formActive__account {
    padding: 67% 0px 0px 0px;
  }
}
@media (max-width: 768px) {
  .formActive__account {
    padding: 75% 0px 0px 0px;
    margin-left: 8%;
  }
}
@media (max-width: 690px) {
  .formActive__account {
    padding: 94% 0px 0px 0px;
    margin-left: 12%;
  }
}
@media (max-width: 477px) {
  .formActive__account {
    padding: 120% 0px 0px 0px;
  }
}
@media (max-width: 520px) {
  .formActive__account {
    padding: 102% 0px 0px 0px;
    margin-left: 0%;
  }
}
@media (max-width: 477px) {
  .formActive__account {
    padding: 115% 0px 0px 0px;
    margin-left: 0%;
  }
}
@media (max-width: 412px) {
  .formActive__account {
    padding: 220% 0px 0px 0px;
    margin-left: 10%;
  }
}

.formActive__account-title {
  margin: 0 0 30px 0;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 3rem;
  line-height: 36px;
  letter-spacing: -1.6px;
}
@media (max-width: 768px) {
  .formActive__account-title {
    margin: 0 0px 10px 22px;
  }
}
@media (max-width: 321px) {
  .formActive__account-title {
    margin: 0 0px 37px 0px;
    font-size: 2.5rem;
  }
}

.formActive__text {
  width: 470px;
  margin: 0 0 36px 0;
  font-family: "Inter", sans-serif;
  font-size: 2rem;
  line-height: 4rem;
  letter-spacing: 0.6px;
}
@media (max-width: 1161px) {
  .formActive__text {
    width: 600px;
    margin: auto;
  }
}
@media (max-width: 768px) {
  .formActive__text {
    margin: 0 50px 5px;
  }
}
@media (max-width: 690px) {
  .formActive__text {
    width: 490px;
    margin: auto;
  }
}
@media (max-width: 477px) {
  .formActive__text {
    width: 390px;
  }
}
@media (max-width: 412px) {
  .formActive__text {
    width: 320px;
  }
}
@media (max-width: 375px) {
  .formActive__text {
    margin-left: -40px;
  }
}
@media (max-width: 321px) {
  .formActive__text {
    width: 280px;
    margin-left: -50px;
  }
}
@media (max-width: 520px) {
  .formActive__text {
    width: 420px;
    font-size: 1.7rem;
  }
}
@media (max-width: 477px) {
  .formActive__text {
    width: 400px;
  }
}
@media (max-width: 412px) {
  .formActive__text {
    width: 320px;
  }
}

.formActive__buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 0 20px;
}
@media (max-width: 1161px) {
  .formActive__buttons {
    padding: 36px 0px 0px 0px;
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .formActive__buttons {
    margin: 0 0 0 15px;
  }
}
@media (max-width: 412px) {
  .formActive__buttons {
    margin-left: 25%;
    flex-direction: column;
    gap: 30px 0px;
  }
}
@media (max-width: 375px) {
  .formActive__buttons {
    margin-left: 15%;
  }
}
@media (max-width: 690px) {
  .formActive__buttons {
    padding: 5px 0px 0px 0px;
  }
}

.formActive__btn {
  width: 75px;
  padding: 8px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.2rem;
  letter-spacing: 1px;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
@media (max-width: 412px) {
  .formActive__btn {
    width: 180px;
    padding: 20px;
    font-size: 2rem;
  }
}

.formActive__btn:hover {
  background-color: #BB945F;
  border: 1px solid #BB945F;
}
@media (max-width: 768px) {
  .formActive__btn:hover {
    background-color: transparent;
    border: 1px solid #000000;
  }
}

/*# sourceMappingURL=style.css.map */
