$color-header-footer: #0C0C0E;
$color-black: #000000;
$color-form: #BB945F;
$color-block-title: #FFFFFF;
$color-borber: #8E8E8E;

$content-witdh: 1400px;

//media

$media-destop-big: 1465px;
$media-destop: 1404px;
$media-destop-small: 1161px;
$media-tablet-big: 990px;
$media-tablet: 768px;
//mobile start
$media-tablet-small: 690px;
$media-mobile-big: 604px;
$media-mobile: 520px;
$media-mobile-big: 477px;
$media-mobile-samsungA5: 412px;
$media-mobile-iphone: 375px;
$media-mobile-samsungS8: 360px;
$mobile-smail: 321px;
//mobile end