.activeCard__block {             
  position: absolute;
  transition: .5 all;
  pointer-events: none;
  opacity: 0;
  @include media-destop-small {
    margin: 0px 0px 0px 20%;
  }
  @include media-tablet {
    margin: 0 0 0px 11%;
  }
  @include media-tablet-active {
    margin: 0 0 0px 5%;
  }

  @include media-tablet-big {
    margin: 0px 0px 10px 13%;
  }

  @include media-tablet-small {
    margin: 0 0 0px 2%;
  }
}

.activeCard__block__active,
.formActive__account__active {
  opacity: 1;
  pointer-events: all;
  transition: 0.5s all;
}

.activeCard__form-title {
  margin: 0 0 30px 0;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 3.0rem;
  line-height: 36px;
  letter-spacing: 0.6px;
  text-align: center;
  @include media-tablet {
    margin: 0 60px 30px 0px;
  }
  @include media-mobile-big {
    margin: 0 0px 30px 0px;
  }
  @include media-mobile-samsungA5 {
    margin: 0 50px 30px 0px;
  }
  @include media-mobile-samsungS8 {
    margin: 0 97px 30px 0px;
  }
  @include mobile-smail {
    margin: 0 90px 30px -40px;
    font-size: 2.5rem;
  }
}

.activeCard__form {
  padding: 20px 20px 5px 20px;
  border: 3px solid $color-form;
  @include media-destop-small {
    width: 600px;
  }
  @include media-tablet {
    width: 558px;
  }

  @include media-tablet-active {
    width: 558px;
  }

  @include media-mobile-big {
    width: 490px;
  }
  @include media-tablet-small {
    width: 450px;
  }
  @include media-mobile {
    padding: 0;
    border: none;
  }
  @include media-mobile {
    width: 430px;
  }
}

.formActive {
  width: 524px;
  margin-bottom: 20px;
  padding: 17px 17px 5px 17px;
  background-color: $color-form;
  @include media-tablet-small {
    width: 420px;
  }
  @include media-mobile-big {
    width: 450px;
  }
  @include media-mobile {
    width: 350px;
    
  }
  @include media-mobile-samsungA5 {
    width: 300px;
    margin-left: 15px;
  }
  @include media-mobile-iphone  {
    width: 270px;
  }
  @include mobile-smail {
    width: 235px;
}
}

.formActive__title {
  margin-bottom: 20px;
  font-family: 'Forum', sans-serif;
  font-weight: 400;
  font-size: 3.0rem;
  line-height: 5.0rem;
  letter-spacing: 0.7px;
  @include media-mobile-iphone  {
    text-align: center;
  }
}

.inputformActive__text, .inputformActive__number {
  width: 500px;
  padding: 10px 0px 5px 20px;
  margin-bottom: 21px;
  border-radius: 10px;
  font-family: 'Forum', sans-serif;
  font-size: 3.0rem;
  font-weight: 400;
  line-height: 5.0rem;
  letter-spacing: 0.7px;
  cursor: pointer;
  @include media-tablet-small {
    width: 400px;
  }
  @include media-mobile-big {
    width: 400px;
  }
  @include media-mobile {
    width: 320px;
  }
  @include media-mobile-samsungA5 {
    width: 250px;
  }
  @include mobile-smail {
    width: 218px;
  }
}

.formActive__butn {
  text-align: center;
  @include media-mobile {
    padding: 30px 0px 0px 0px;
  }
  @include media-mobile-samsungA5 {
    padding: 30px 40px 0px 0px;
  }
  @include media-mobile-iphone  {
    padding: 30px 60px 0px 0px;
  }
  @include mobile-smail {
    padding: 30px 140px 0px 0px;
  }
}

.formActive__profile__info {
  justify-content: center;
}

.formActive__account {
  margin-left: 66.6%;
  position: absolute;
  text-align: right;
  transition: .5 all;
  pointer-events: none;
  opacity: 0;
  @include media-destop {
    margin-left: 55%;
  }
  @include media-destop-small {
    padding: 52% 0px 0px 0px;
    margin-left: 20%;
    text-align: center;
  }
  @include media-tablet-big {
    padding: 63% 0px 0px 0px;
    margin-left: 17%;
  }

  @include media-tablet-big-active {
    padding: 67% 0px 0px 0px;
  }

  @include media-tablet-active {
    padding: 67% 0px 0px 0px;
  }

  @include media-tablet {
    padding: 75% 0px 0px 0px;
    margin-left: 8%;
}
  @include media-tablet-small {
    padding: 94% 0px 0px 0px;
    margin-left: 12%;
  }
  @include media-mobile-big {
    padding: 120% 0px 0px 0px;
    }
  @include media-mobile {
    padding: 102% 0px 0px 0px;
    margin-left: 0%;
  }
@include media-mobile-big-active {
   padding: 115% 0px 0px 0px;
    margin-left: 0%;
  }
  @include media-mobile-samsungA5 {
    padding: 220% 0px 0px 0px;
    margin-left: 10%;
  }
}

.formActive__account-title {
  margin: 0 0 30px 0;
  
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 3.0rem;
  line-height: 36px;
  letter-spacing: -1.6px;
  @include media-tablet {
    margin: 0 0px 10px 22px;
  }
  @include mobile-smail {
    margin: 0 0px 37px 0px;
    font-size: 2.5rem;
  }
}

.formActive__text {
  width: 470px;
  margin: 0 0 36px 0;
  font-family: 'Inter', sans-serif;
  font-size: 2.0rem;
  line-height: 4.0rem;
  letter-spacing: 0.6px;
  @include media-destop-small {
    width: 600px;
    margin: auto;
  }
  @include media-tablet {
    margin: 0 50px 5px;
  }
  @include media-tablet-small {
    width: 490px;
    margin: auto;
  }
  @include media-mobile-big {
    width: 390px;
  }
  @include media-mobile-samsungA5 {
    width: 320px;
  }
  @include media-mobile-iphone  {
    margin-left: -40px;
  }
  @include mobile-smail {
    width: 280px;
    margin-left: -50px;
  }
  @include media-mobile {
    width: 420px;
    font-size: 1.7rem;
  }
  @include media-mobile-big-active {
    width: 400px;
  }
  @include media-mobile-samsungA5 {
    width: 320px;
  }
}

.formActive__buttons {
  display: flex;
  flex-direction: row;
  justify-content:flex-end;
  gap: 0 20px;
  @include media-destop-small {
   padding: 36px 0px 0px 0px;
   justify-content: center;
  }
  @include media-tablet {
    margin: 0 0 0 15px;
  }
  @include media-mobile-samsungA5 {
    margin-left: 25%;
    flex-direction: column;
    gap: 30px 0px;
  }
  @include media-mobile-iphone  {
    margin-left: 15%;
  }
 @include media-tablet-small {
    padding: 5px 0px 0px 0px;
  }
}

.formActive__btn {
  width: 75px;
  padding: 8px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 1.0rem;
  line-height: 1.2rem;
  letter-spacing: 1px;
  background-color: transparent;
  cursor: pointer;
  transition: all .4s ease-in-out;
  @include media-mobile-samsungA5 {
    width: 180px;
    padding: 20px;
    font-size: 2.0rem;
  }
}

.formActive__btn:hover {
  background-color: $color-form;
  border: 1px solid $color-form;
  @include media-tablet {
    background-color: transparent;
    border: 1px solid $color-black;
  }
}
