.log {
  display: none;
  position: absolute;
  margin-left: 87%;
  margin-top: 50px;
  width: 120px;
  background-color: $color-block-title;
  @include media-destop-small {
    margin-left: 80%;
  }

  @include media-tablet-big {
    margin-left: 65%;
  }

  @include media-mobile-big {
    margin-left: 60%;
  }
  @include media-mobile-iphone {
    margin-left: 50%;
  }
  @include mobile-smail {
    margin-left: 45%;
  }
}

.login__title, .login-register__title {
  padding: 15px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2.0rem;
  text-align: center;
}

.login__line {
  width: 40px;
  height: 1px;
  margin: auto;
  background-color: $color-form;
}

.login__profile {
  padding: 15px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.0rem;
  text-align: center;
  cursor: pointer;
  transition: all .4s ease-in-out;
}

.login__log {
  padding: 15px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.0rem;
  text-align: center;
  cursor: pointer;
  transition: all .4s ease-in-out;
}

.login__profile:hover, .login__log:hover {
  font-weight: 700;
}