.header__navigation {
   padding-left: 30%;
 }

.header__itemns {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header__itemn {
  margin-left: 37.7px;
  cursor: pointer;
}  

.header__itemn:first-child {
  margin-left: 0;
}

.header__link {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 2.0rem;
  line-height: 5.0rem;
  color: $color-block-title;
}