.header__navigation {
   padding-left: 31%;
   @include media-destop-big {
    padding-left: 20%;
  }

  @include media-destop  {
    padding-left: 10%;
  }
  @include media-tablet-big {
    display: none;
  }
}

.header__itemns {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header__itemn {
  margin-right: 34px;
  cursor: pointer;
}  

.header__itemn:last-child {
  margin-left: 0;
}

.header__link {
  font-family: 'Inter', ;
  font-weight: 400;
  font-size: 2.0rem;
  line-height: 5.0rem;
  color: $color-block-title;
}