.header {
  padding: 20px 35px 5px 30px;
  background-color: $color-header-footer;
  @include media-destop  {
    padding: 20px 25px 5px 25px;
  }
  @include media-tablet-big {
    padding: 20px 35px 5px 35px;
  }
}

.header__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header__title {
  margin: 0;
  color: $color-block-title;
  font-family: 'Forum', sans-serif;
  font-weight: 400;
  font-size: 3.0rem;
  line-height: 5.0rem;
  letter-spacing: 0.8px;
}

.header__icon {
  width: 28px;
  height: 28px;
  background-image: url('../../src/img/header/icon_profile.svg');
  background-size: 28px 28px;
  align-self: center;
  cursor: pointer;
}